<% if @user %>
  <div>  
    <p><%= t :hello %> <%= @user.name %>!</p>
    <p>Balance: <%= @user.balance %></p>
    <%= render 'transactions/list' %>
    <%= link_to t('add_new_transaction'), new_user_transaction_path(@user.id) %>
  </div>
<%else%>
  <div class="center hero-unit">
  <h1><%= t('welcome_to') %> MoneyCalc</h1>

  <%= link_to t('sign_in'), sign_in_path, class: "btn btn-large btn-primary" %>
  <br/>
  <%= t('or') %>
  <br/>
  <%= link_to t('sign_up'), sign_up_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
