<p id="notice"><%= notice %></p>
<% if current_user %>
	<%= render 'info' %>
	<% if current_user.admin? || current_user.id == @user.id %>
		<%= link_to 'Edit user info', edit_user_path(@user) %> |
		<%= link_to 'Manage transactions', user_transactions_path(@user) %> |
		
	<% end %>
<% else %>
	<%= render 'layouts/sign_in_sign_up' %>
<% end %>
<%= link_to 'Back', users_path %>