<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Registration</th>
      <th></th>
      <% if current_user.admin? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.balance %></td>
        <td><%= user.created_at.strftime("%m/%d/%Y (%I:%M%p)")%></td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <%= will_paginate @users %>
  </tbody>
</table>

<h3>Users count: <%= @users.count %></h3>
